.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/*
Szary tekst - #707070
Czerwony - #FF000A
BIAŁY - #Ffffff
Czarny - #000000

Stopka i pasek menu szary - #3D3D3D

Czcionka Roboto:

Duże napisy - 51pt (nagłówki)
Tekst - 21pt

Wszystko co mniejsze - 13 pt
*/

/*
 * Site menu
 */
.site-header {
  background-color: #3D3D3D;
}


.navbar-toggler-icon {
  background-image: url(../img/icons/toggle-button.svg);
}

.navbar-toggler {
  border-color: #FF000A;
}

a {
  color: #999;
  transition: ease-in-out color .15s;
  text-transform:uppercase;
}

a {
  color: #Ffffff;
  text-decoration: none;
}

a:hover {
  color: #FF000A;
  text-decoration: none;
}

/*
 * Site content
 */

.content-background {
  min-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.onas-background {
  background-image: url(../img/o_nas/tlo.png);
}

.oferta-background {
 background-color: #fff
}

.realizacje-background {
 background-color: #fff
}

.kontakt-background {
  background-image: url(../img/kontakt/tlo_kontakt.png);
}

/*
 * Extra utilities
 */

 .img-fit {
     object-fit: cover;
 }

.color-red {
  color: #FF000A;
}

.color-white {
  color: #Ffffff;
}

.left-content-txt {
  margin-top:7rem!important;
}


.right-content-txt {
  margin-top:6rem!important;
}

.border-white {
    border-color: #fff;
    border: 1px solid #fff;
}

hr {
  border: 0;
  clear:both;
  display:block;
  background-color:#3D3D3D;
  height: 1px;
}

.circle-transparent {
    background: rgba(0, 0, 0, 0.2);;
    border-radius: 50%;
    width: 270px;
    height: 270px;
}

.mt-70percent {
  margin-top: 70%;
}

.icon-ad-size {
    height: 50px;
    width: auto;
}

.btn-primary {
  background-color: #000000;
  border-color: #000000;
  border: 7px solid #000000;
  border-radius: 65px;
  text-transform:uppercase;
  font-size: 0.75rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FF000A;
    border-color: #FF000A;
}

.btn-secondary {
  background-color: #FF000A;
  border-color: #FF000A;
  border: 7px solid #FF000A;
  border-radius: 65px;
  text-transform:uppercase;
  font-size: 0.75rem;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

footer .btn-arrow.collapsed {
  position: absolute;
  bottom:5px;
  z-index: 100;
}

footer .btn-arrow {
  position: absolute;
  bottom:100px;
  z-index: 100;
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #3D3D3D;
}
