.menu-marker {
  top: 78px;
  position: absolute;
}
.mt-5 a{
color:#e60026!important; }

.menu-link {
  top: 23px;
  margin-left: 40%;
  position: relative;
}


.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.content-separator {
  border-top: 2px solid #999;
}

header .carousel-inner {
  max-height: 900px;
}

.logo {
  height: 70px;
}

.brand-name {
  top: 10px;
  height: 90px;
}


@media only screen and (min-width: 768px) {
  .brand-name {
    top: 0px;
    height: 110px;
  }
}

@media only screen and (min-width: 992px) {
  .brand-name {
    height: 150px;
  }
}

.mobile-header-button {
    margin-top: 15rem;
}


@media only screen and (min-width: 992px) {
  nav {
    padding-left: 8rem!important;
  }
}

.onas-txt {
  padding-top: 10rem!important;
}

@media only screen and (min-width: 768px) {
  .oferta-txt {
    margin-top: 3rem!important;
  }
}

.oferta-txt {
  margin-top: 4rem!important;
}

#realizacje-content>#carouselIndicators {
  max-height: 900px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3d3d3d;
}


::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.row { 
  margin-right: 0px;
}

ul {
  list-style-type: none
}

/*
Szary tekst - #707070
Czerwony - #FF000A
BIAŁY - #Ffffff
Czarny - #000000

Stopka i pasek menu szary - #3D3D3D

Czcionka Roboto:

Duże napisy - 51pt (nagłówki)
Tekst - 21pt

Wszystko co mniejsze - 13 pt
*/

/*
 * Site menu
 */
.site-header {
  background-color: #3D3D3D;
}


.navbar-toggler-icon {
  background-image: url(../img/icons/toggle-button.svg);
}

.navbar-toggler {
  border-color: #FF000A;
}

a {
  color: #999;
  transition: ease-in-out color .15s;
  text-transform:uppercase;
}

a {
  color: #Ffffff;
  text-decoration: none;
}

a:hover {
  color: #FF000A;
  text-decoration: none;
}

/*
 * Site content
 */

.content-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-mobile-background {
  background-image: url(../img/strona_glowna/glowna-mobile.png);
  min-height: 500px;
}

.onas-background {
  background-image: url(../img/o_nas/tlo.png);
  min-height: 900px;
}

.oferta-background {
 background-color: #fff;
 min-height: 900px;
}

.realizacje-background {
 background-color: #fff;
 /* min-height: 900px; */
}

.kontakt-background {
  min-height: 900px;
  background-image: url(../img/kontakt/tlo_kontakt.jpg);
}


/*
 * Extra utilities
 */

 .img-fit {
     object-fit: cover;
 }

.color-red {
  color: #FF000A;
}

.color-white {
  color: #Ffffff;
}

.border-white {
    border-color: #fff;
    border: 1px solid #fff;
}

hr {
  border: 0;
  clear:both;
  display:block;
  background-color:#fff;
  height: 1px;
}

.circle-transparent {
    background: rgba(0, 0, 0, 0.2);;
    border-radius: 50%;
    width: 270px;
    height: 270px;
}

.mt-70percent {
  margin-top: 20%;
}

.mb-7 {
  margin-bottom: 7rem!important;
}

.pb-7 {
  padding-bottom: 7rem!important;
}

.icon-ad-size {
    height: 50px;
    width: auto;
}

.icon-car-ad-size {
  height: 40px;
  width: auto;
}

.btn-primary {
  background-color: #000000;
  border-color: #000000;
  border: 7px solid #000000;
  border-radius: 65px;
  text-transform:uppercase;
  font-size: 0.75rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FF000A;
    border-color: #FF000A;
}

.btn-secondary {
  background-color: #FF000A;
  border-color: #FF000A;
  border: 7px solid #FF000A;
  border-radius: 65px;
  text-transform:uppercase;
  font-size: 0.75rem;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

footer .btn-arrow.collapsed {
  position: absolute;
  bottom:-12px;
  z-index: 1000;
}

a[aria-expanded=true] .footer-button-up {
  display: none;
}
a[aria-expanded=false] .footer-button-down {
  display: none;
}

footer .btn-arrow {
  position: absolute;
  left:90%;
  margin-top:-11px;
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
  footer .btn-arrow {
    position: absolute;
    left:95%;
    margin-top:-17px;
    z-index: 1000;
  }
}



.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

footer {
  padding-left: 8rem!important;
  max-width: 1600px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #3D3D3D;
}

.sticky-contact {
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 2000;
}

#sticky-contact-txt {
 background-color: red;
 color: white;
 float: left;
}

#sticky-contact-btn {
  float: left;
  margin: 0 auto; 
}



