@media only screen and (min-width: 992px) {
  .section-height {
    max-height: 900px;
  }
  .img-fit {
    object-fit: cover;
    height: 100%;
    object-position: 100% 0;
  }

  .img-mahoniowe {
    object-position: 80% 0;
  }
  .img-niestandardowe {
    object-position: 80% 0;
  }
  
  .img-zabudowy {
    object-position: 60% 0;
  }
  
  .img-listwy {
    object-position: 50% 0;
  }
  
  .img-partnerzy {
    object-position: 50% 0;
  }
  
  .img-klamki {
    object-position: 70% 0;
  }
}

.header-background {
  background-image: url(../img/oferta/oferta.jpg);
}

.img-wrapper {
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
}

.red-button-margin {
  margin-top: 10rem!important;
}

ul>li{
  margin: 10px;
}

.h4 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
}

.mt-100px {
  margin-top: 100px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.row { 
  margin-right: 0px;
}


a.external-link {
  color: #999;
  transition: ease-in-out color .15s;
  text-transform:none;
}

a.external-link{
  color: black;
  text-decoration: none;
}

a:hover.external-link {
  color: red;
  text-decoration: none;
}

#partnerzy-content ul>li {
  margin: 40px 0px 0px 20px;
}

#klamki-content ul>li {
  margin: 40px 0px 0px 20px;
}

.background-color-white {
  background-color: #fff
 }
